<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>ネットワーク設定</title>
</head>

<body>
  <form action="ip_set" method="get">
	<p>ip<input type="text" name="ip"></p>
	<p><input type="submit" value="送信"></p>
</form>
</body>
